# encoding: utf-8
	<p>
		<strong>サークル名:</strong>
		<%= @circle.circlename %>
	</p>

	<p>
		<strong>日にち:</strong>
		<%= @circle.date %>
	</p>

	<p>
		<strong>スペース:</strong>
		<%= @circle.space %>
	</p>

	<p>
		<strong>URL:</strong>
		<%= link_to @circle.url, @circle.url %>
	</p>
	
	<h2>お品書き</h2>
	<% @circle.items.each do |item| %>
	<p>
	<strong>お品物:</strong>
	<%= item.itemname %>
	</p>
	<p>
	<strong>値段:</strong>
	<%= item.price %>
	</p>
	<% end %>
