# encoding: utf-8
<%= form_for(@circle) do |f| %>

  <% if @circle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this circle from being saved:</h2>

      <ul>
      <% @circle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '日付' %><br>
    <%= f.number_field :date %>
  </div>
  <div class="field">
    <%= f.label 'スペース' %><br>
    <%= f.text_field :space %>
  </div>
  <div class="field">
    <%= f.label 'サークル名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'URL' %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit '登録' %>
  </div>
<% end %>
