# encoding: utf-8

<p id="notice"><%= notice %></p>

<h1>サークルリスト</h1>

<table>
  <thead>
    <tr>
      <th>サークル名</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circles.each do |circle| %>
      <tr>
        <td><%= circle.name %></td>
        <td><%= circle.url %></td>
        <td><%= link_to '詳細', circle %></td>
        <td><%= link_to 'お品書き登録', new_item_path %></td>
        <td><%= link_to 'Edit', edit_circle_path(circle) %></td>
        <td><%= link_to '消去', circle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'サークル登録', new_circle_path %></br>
<%= link_to 'ホーム',root_path %>
